<li class="collapsed">
    G1<ul>
        <li class="collapsed">
            G211
        </li>
        <li class="collapsed">
            G3
        </li>
    </ul>
</li><li class="collapsed">
    G211<ul>
        <li class="collapsed">
            G4
        </li>
        <li class="collapsed">
            G5
        </li>
    </ul>
</li><li class="collapsed">
    G3<ul>
        <li class="collapsed">
            G6
        </li>
        <li class="collapsed">
            G7
        </li>
    </ul>
</li><li class="collapsed">
    G4<ul>
        <li class="collapsed">
            G8
        </li>
        <li class="collapsed">
            G9
        </li>
    </ul>
</li><li class="collapsed">
    G5<ul>
        <li class="collapsed">
            G10
        </li>
        <li class="collapsed">
            G11
        </li>
        <li class="collapsed">
            G14
        </li>
    </ul>
</li><li class="collapsed">
    G6<ul>
        <li class="collapsed">
            G12
        </li>
        <li class="collapsed">
            G13
        </li>
    </ul>
</li>